<!-- <h1>Operadores RXJS</h1>
<app-observables></app-observables>
<app-subject></app-subject>
<h1>Operadores de criação</h1>
<app-from></app-from>
<h1>Operadores of</h1>
<app-of></app-of>
<h1>fromEvent</h1>
<app-from-event></app-from-event>
<h1>Interval</h1>
<app-interval></app-interval>
<h1>Timer</h1>
<app-timer></app-timer>
<h1>Throw-error</h1>
<app-throw-error></app-throw-error>
<h1>Ajax</h1>
<app-ajax></app-ajax>
<h1>ForkJoin</h1>
<app-forkjoin></app-forkjoin>
<h1>Component Zip</h1>
<app-zip></app-zip>
<h1>Component Merge concat</h1>
<app-merge-concat></app-merge-concat>
<h1>Operadores de tranformaçao</h1>
<app-map></app-map>
<h1>Operadores de tranformaçao</h1>
<app-map-to></app-map-to>
<h1>Operadores de tranformaçao</h1>
<app-switch-map></app-switch-map>
-->
<h1>Operadores pluck</h1>
<app-pluck></app-pluck>
